:root {
	--lobster: "Lobster", cursive;
}

* {
	margin: 0;
	padding: 0;
}
body {
	font-family: var(--lobster);
	background-color: #393e46;
	color: #4ecca3;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

header {
	font-size: 3rem;
}

section {
	padding: 1.5rem;
	display: flex;
	flex-direction: row;

	justify-content: space-between;
	text-align: center;
}
section header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.score {
	font-size: 2rem;
}

section #middle {
	align-self: flex-end;
	display: flex;

	margin: 1rem auto;
}
.btn {
	border-radius: 10px;
	height: 40px;
	width: 80px;
	background-color: #4ecca3;
	font-weight: 900;
}

img {
	width: 20rem;
	height: 20rem;
}
section p {
	color: yellow;
	font-size: 2rem;
	visibility: hidden;
	margin: auto;
}
.visibility {
	visibility: visible;
}
footer p {
	color: #fff;
}

@media screen and (max-width: 800px) {
	section img {
		width: 17rem;
		height: 17rem;
	}
}

@media screen and (max-width: 600px) {
	header {
		margin: 1rem;
		padding: 0;
		font-size: 1.8rem;
	}
	section {
		width: 100%;
		height: 60vh;
		flex-direction: column;
		margin-top: 20px;
		justify-content: space-between;
		padding-bottom: 80px;
	}
	section img {
		width: 10rem;
		height: 10rem;
	}

	#playerOne,
	#playerTwo {
		position: relative;
	}
	#playerOne,
	#playerTwo {
		display: flex;
		flex-direction: column;
	}
	#playerOne div,
	#playerTwo div {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	section header {
		padding: 1rem;
	}
}
